@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbars */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  @apply bg-zinc-50;
}
*::-webkit-scrollbar-thumb {
  border: 3px solid;
  @apply border-zinc-50 bg-zinc-300;
}
*::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.disabled {
  @apply opacity-50 pointer-events-none;
}